
:root {
    --color2: #00b8a3;
    --color1: #bfbfb7;
    --bcolor: #373737;
    --bcolor1: #575757;
}
* {
    /* color: var(--bcolor1); */
    margin: 0px;
    box-sizing: border-box;
    transition: 300;
}
body {
    background-color: var(--bcolor);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#board {
    height: 300px;
    width: 300px;
    gap: 1%;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    background-color: var(--color1);
    position: relative;
}
.cross {
    background-image: url(./images/xx.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.circle{
    color: blue;
    background-image: url(./images/oo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.box {
    background-color: var(--bcolor);
    cursor: pointer;
}
.stats {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    gap: 20%;
    transition: 300ms;
}
.stats span {
    font-size: xx-large;
    transition: 300ms;
}
.turn {
    scale: 1.2;
    color: var(--color1);
}
.hide {
    display: none;
}
.reload{
    border: none;
    background: none;
    cursor: pointer;
}
/*  */

.bar{
    position: absolute;
    width: 10px;
    left: 0px;
    /* height: 300px; */
    top: 0px;
    background-color: #0000c0;
    box-shadow: -6px 6px 10px;
    transform-origin: top left;
}
.c1{
    left: calc(100% / 6);
}
.c2{
    left: 50%;
}
.c3{
    left: calc(5 * 100% / 6);
}
.r1{
    top: calc(100% / 6);
    rotate: -90deg;
}
.r2{
    top: 50%;
    rotate: -90deg;
}
.r3{
    top: calc(5 * 100% / 6);
    rotate: -90deg;
}
.x1{
    rotate: -45deg;
    top: calc(100% / 7);
    left: calc(100% / 7);
}
.x2{
    /* transform-origin: top left; */
    rotate: -135deg;
    top: calc(6 * 100% / 7);
    left: calc(100% / 7);
}